<section id="feed" class="feed">
    {{#foreach posts}}
    <article class="{{post_class}}">
        {{#if image}}
        <a href="{{url}}" class="post-image">
            <img src="{{image}}" alt="">
            <h2 class="post-title">{{{title}}}</h2>
            <time class="post-date" datetime="{{date format='YYYY-MM-DDTHH:mm'}}" title="{{date format='D MMMM YYYY'}}">{{date published_at}}</time>
        </a>{{else}}
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        {{/if}}
        <section class="post-content">
            {{excerpt words=50}}…
        </section>
        <section class="post-meta">
            <span class="date"><i class="fa fa-clock-o"></i> <a href="{{url}}"><time class="timesince" data-timesince="{{date format='X'}}" datetime="{{date format='YYYY-MM-DDTHH:mm'}}" title="{{date format='D MMMM YYYY'}}">{{date published_at timeago='true'}}</time></a></span>
        </section>
    </article>
    {{~/foreach}}
</section>
{{pagination}}
